/* Fuente estilo artesanal */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  font-family: 'Marcellus', serif;
  text-align: center;
  color: #3e2c1c;
  margin: 0;
  padding: 0;

  /*  fondo  */
  background: url("imagenes/fondo madera.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

/* Capa semitransparente sobre el fondo */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(7, 7, 7, 0); 
  z-index: -1;
}

/* Encabezado principal */
h1 {
  color: #080707; 
  font-size: 2.5em;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

p {
  color: #080707; 
  max-width: 650px;
  margin: 10px auto;
  font-size: 1.6em;
  line-height: 1.6;
}

/* logo */
img {
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

/* Barra de navegación */
nav {
  background: #c49a6c; 
  padding: 15px 0;
  border-top: 3px solid #7b3f00;
  border-bottom: 3px solid #7b3f00;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #3e2c1c;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s, transform 0.2s;
}

nav a:hover {
  color: #fff8e1; 
  transform: scale(1.1);
}

/* Pie de página */
footer {
  margin-top: 30px;
  padding: 15px;
  background: #3e2c1c;
  color: #f5f1e6;
  font-size: 0.9em;
}

footer a {
  color: #f0c27b;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
